body {
    display: grid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgray;
    grid-template-columns: 2fr 1fr;
}

header {
    grid-column: 1 / 3;
    margin: 0;
}

header p {
    margin: 0;
    padding: 10px;
    min-height: 50px;
    background-color: #1F3A5F;
}

main {
    min-height: 200px;
    grid-column: 1 / 2;
    background-color: #F4F6F8;

}

aside {
    grid-column: 2 / 3;
    background-color: #DCEAF3;
}

footer {
    grid-column: 1 / 3;
    text-align: center;
    background-color: #1F3A5F;
    min-height: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4F81A8;
}

nav a {
    color: white;
    text-decoration: none;
}

header,
main,
aside,
footer {
    border: 1px solid transparent;
}

main,
aside,
nav {
    padding: 10px;
}