:root {
    --primary-color: #1f3a5f;
    --secondary-color: #47799f;
    --text-color: #4c4c4c;
    --white-color: #ffffff;
    --border-color: #a6a6a7;
    --background: #efeeee;
    --heading-font: "Comfortaa", sans-serif;
    --body-font: "Outfit", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 550px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

header {
    background: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    padding: 0.75rem;
}

header h1 {
    font-family: var(--heading-font);
}

form {
    display: grid;
    gap: 0.5rem;
}

form>label {
    font-family: var(--heading-font);
    font-weight: 600;
    margin-left: 1.5rem;
    color: var(--primary-color);
}

form>select {
    cursor: pointer;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.7rem;
    font-family: var(--body-font);
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    cursor: pointer;
}

input[type="date"] {
    cursor: pointer;
}

fieldset {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 1rem;
}

fieldset label {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    margin-right: 1rem;
    font-family: var(--body-font);
    cursor: pointer;
}

fieldset p {
    font-family: var(--body-font);
    margin-bottom: 0.8rem;
}

legend {
    font-family: var(--heading-font);
    font-weight: 600;
    padding: 0 0.5rem;
    color: var(--primary-color);
}

textarea {
    min-height: 120px;
    resize: vertical;
}

button {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    justify-self: center;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color);
}

.font {
    font-family: var(--body-font);
}

.optional {

    font-family: var(--heading-font);
    color: var(--border-color);
}

/* footer*/
footer {
    font-family: var(--heading-font);
    padding: 1rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    margin-top: 1rem;
}